<div class="bg-gray-100 min-h-screen p-4 sm:p-8">

    <!-- Alerte FIXED en haut à droite avec fade in et margin-top custom -->
<div *ngIf="successMessage || errorMessage" class="fixed top-0 right-0 z-50 mt-[100px] mr-4 fade-in">
  <!-- Alerte de succès -->
  <div *ngIf="successMessage" class="rounded-md bg-green-50 p-4 shadow-lg mb-2">
    <div class="flex items-start">
      <div class="flex-shrink-0">
        <!-- Icône de succès -->
        <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
        </svg>
      </div>
      <div class="ml-3 flex-1">
        <h3 class="text-sm font-medium text-green-800">Succès</h3>
        <div class="mt-2 text-sm text-green-700">
          <p>{{ successMessage }}</p>
        </div>
      </div>
      <div class="ml-3 flex-shrink-0">
        <button (click)="closeAlert()" type="button" class="text-green-500 hover:text-green-700" aria-label="Close">
          <!-- Icône de fermeture -->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Alerte d'erreur -->
  <div *ngIf="errorMessage" class="rounded-md bg-red-50 p-4 shadow-lg fade-in">
    <div class="flex items-start">
      <div class="flex-shrink-0">
        <!-- Icône d'erreur -->
        <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
      <div class="ml-3 flex-1">
        <h3 class="text-sm font-medium text-red-800">Erreur</h3>
        <div class="mt-2 text-sm text-red-700">
          <p>{{ errorMessage }}</p>
        </div>
      </div>
      <div class="ml-3 flex-shrink-0">
        <button (click)="closeAlert()" type="button" class="text-red-500 hover:text-red-700" aria-label="Close">
          <!-- Icône de fermeture -->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>



    <!-- Conteneur principal (fond blanc) -->
    <div class="bg-white p-4 sm:p-8 rounded-lg shadow-lg">
      <!-- En-tête avec fond bleu clair autour du titre "Produits" et bouton "Ajouter un produit" -->
      <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center mb-6">
        <!-- Titre "Produits" avec fond bleu clair -->
        <div class="bg-[#E3EFFF] p-2 rounded-lg mb-4 sm:mb-0">
          <h2 class="text-2xl font-semibold text-[#2388FF]">Produits</h2>
        </div>
        <!-- Bouton "Ajouter un produit" -->
        <button (click)="ouvrirModal()"
                type="button"
                class="w-full sm:w-auto bg-[#2388FF] text-white px-4 py-2 rounded-lg transition duration-200 hover:bg-[#4AA3FF]">
          AJOUTER UN PRODUIT
        </button>
      </div>
  
      <!-- Section de recherche Produits -->
      <div class="mb-6">
        <input type="text" [formControl]="searchControl" placeholder="Rechercher ..." class="w-full sm:w-1/3 border border-gray-300 px-4 py-2 rounded-lg">

      </div>
  
      <!-- Tableau Produits -->
      <div class="overflow-x-auto">
        <table class="min-w-full bg-white rounded-2xl overflow-hidden border-collapse">
          <thead class="bg-gray-100">
            <tr>
              <th class="py-3 px-6 text-left rounded-tl-2xl">Nom des produits</th>
              <th class="py-3 px-6 text-center">Quantité</th>
              <th class="py-3 px-6 text-center">TVA</th>
              <th class="py-3 px-6 text-center">Prix HT</th>
              <th class="py-3 px-6 text-center">Prix TTC</th>
              <th class="py-3 px-6 text-center rounded-tr-2xl">Actions</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr *ngFor="let produit of produits" class="border-t border-gray-200">
              <td class="py-3 px-6 text-left">{{ produit.nom }}</td>
              <td class="py-3 px-6 text-center">{{ produit.quantite }}</td>
              <td class="py-3 px-6 text-center">{{ produit.tva }}%</td>
              <td class="py-3 px-6 text-center">{{ produit.prixHT }}€</td>
              <td class="py-3 px-6 text-center">{{ produit.prixTTC }}€</td>
              <td class="py-3 px-6 text-center">
                <!-- Bouton Modifier -->
                <button (click)="ouvrirModalEdition(produit.id)"
                        type="button"
                        class="bg-[#FFE2C7] border border-[#FF9A3B] text-[#FF9A3B] p-2 rounded-md hover:bg-[#FFD5B0] transition mx-1">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                       stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                  </svg>
                </button>
  
                <!-- Bouton Supprimer -->
                <button (click)="deleteProduit(produit.id)"
                        type="button"
                        class="bg-[#FDEAE4] border border-[#F45725] text-[#F45725] p-2 rounded-md hover:bg-[#FBC4B4] transition mx-1">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                       stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <!-- Modal d'ajout/édition de produit -->
      <div *ngIf="modalOuvert" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-white w-11/12 sm:w-4/5 lg:w-1/2 p-6 rounded-2xl shadow-lg transform transition-all scale-95">
          <!-- En-tête du modal -->
          <div class="flex justify-between items-center mb-4">
            <h3 class="text-lg font-semibold">{{ edit ? 'Modifier le Produit' : 'Ajouter un Produit' }}</h3>
            <button (click)="fermerModal()" type="button" class="text-black">x</button>
          </div>
          <hr class="mb-4">
          <!-- Formulaire Produit -->
          <form [formGroup]="produitForm" (ngSubmit)="edit ? modifierProduit() : ajouterProduit()">
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
              <!-- Ligne 1: Nom (col-span 2), Type de produit, Unité -->
              <div class="md:col-span-2">
                <label class="block text-gray-700 text-sm mb-1">Nom *</label>
                <input formControlName="nom" placeholder="Tee shirt" class="border w-full p-2 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-200" type="text">
              </div>
              <div>
                <label class="block text-gray-700 text-sm mb-1">Type de produit *</label>
                <select formControlName="type" class="border w-full p-2 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-200">
                  <option value="Bien physique">Bien physique</option>
                  <option value="Produit">Produit</option>
                  <option value="Service">Service</option>
                </select>
              </div>
              <div>
                <label class="block text-gray-700 text-sm mb-1">Unité *</label>
                <select formControlName="unite" class="border w-full p-2 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-200">
                  <option value="Unité">Unité</option>
                  <option value="Kg">Kg</option>
                  <option value="Litre">Litre</option>
                  <option value="Mètre">Mètre</option>
                  <option value="Pièce">Pièce</option>
                  <option value="Pièce">Heure</option>
                </select>
              </div>
              <!-- Ligne 2: Prix TTC, Prix HT, TVA, Quantité -->
              <div>
                <label class="block text-gray-700 text-sm mb-1">Prix TTC *</label>
                <input formControlName="prixTTC" placeholder="234 €" class="border w-full p-2 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-200" type="number" min="0">
              </div>
              <div>
                <label class="block text-gray-700 text-sm mb-1">Prix HT *</label>
                <input formControlName="prixHT" placeholder="200 €" class="border w-full p-2 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-200" type="number" min="0">
              </div>
              <div>
                <label class="block text-gray-700 text-sm mb-1">TVA *</label>
                <select formControlName="tva" class="border w-full p-2 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-200">
                  <option value="0">0%</option>
                  <option value="5.5">5.5%</option>
                  <option value="10">10%</option>
                  <option value="20">20%</option>
                </select>
              </div>
              <div>
                <label class="block text-gray-700 text-sm mb-1">Quantité *</label>
                <input formControlName="quantite" placeholder="34" class="border w-full p-2 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-200" type="number" min="0">
              </div>
              <!-- Ligne 3: Description -->
              <div class="md:col-span-4">
                <label class="block text-gray-700 text-sm mb-1">Description</label>
                <textarea formControlName="description" placeholder="Placeholder" class="border w-full p-2 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-200"></textarea>
              </div>
              <!-- Ligne 4: Commentaire -->
              <div class="md:col-span-4 mb-10">
                <label class="block text-gray-700 text-sm mb-1">Commentaire (non visibles)</label>
                <textarea formControlName="commentaire" placeholder="Placeholder" class="border w-full p-2 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-200"></textarea>
              </div>
            </div>
            <hr class="my-6">
            <!-- Boutons d'action -->
            <div class="flex flex-col md:flex-row justify-between gap-4">
              <button type="button" (click)="fermerModal()" class="w-full md:w-1/2 px-4 py-2 rounded-lg text-[#F45725] bg-[#FDEAE4] font-semibold hover:bg-[#FBC4B4] transition duration-300">
                ANNULER
              </button>
              <button type="submit" class="w-full md:w-1/2 px-4 py-2 rounded-lg text-[#4AC99B] bg-[#E9F8F3] font-semibold hover:bg-[#CDECE0] transition duration-300">
                {{ edit ? 'MODIFIER' : 'AJOUTER' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  